main {
    background-color: gray;
}

.upper-content {
    /* background-color: rgb(212, 74, 74); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-content div {
    display: flex;
    gap: 10px;
}

.right-content .box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 2rem;
    cursor: pointer;
}

.right-content .box.select {
    background-color: black;
    color: white;
    transition: .3s;
}

.right-content p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}



.lower-content {
    /* border: 1px solid black; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lower-content button{
    border: 1px solid black;
    padding: 5px 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    /* width: 60px; */
}


.rules {
    /* border: 1px solid black; */
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: rgb(169, 153, 213);
    border-radius: 20px;
}