main {
    background-color: rgb(153, 145, 215);
}

.content {
    /* background-color: red; */
}

.content button {
    border: none;
    transition: .3s ;
}
.content button:hover {
    background-color: rgb(44, 45, 91);

}