.container
{
    background-color: rgb(103, 98, 98);
    width: 520px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container h1 
{
    margin-bottom: 20px;
}

.container h2 {
    margin-top: 20px;
}

.container ul li {
    list-style: none;
    border: 1px solid white;
    margin: 20px 0;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}

.container button {
   margin: auto;
   display: block;
   width: 150px;
   padding: 10px;
   background: #311f67;
   color: white;
   font-size: 20px;
   font-weight: bold;
   border-radius: 15px;
   cursor: pointer;
   border: none;
}

.container .question {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.container .correct {
    background: #20d38c;
    border-color: #00d397;
    
}

.container .wrong {
    background: #e64242;
    border-color: #FF4A4A;
}
